[submodule "foreign/magit"]
	path = foreign/magit
	url = https://github.com/magit/magit.git
[submodule "foreign/auto-complete"]
	path = foreign/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "foreign/ace-jump-mode"]
	path = foreign/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "foreign/smex"]
	path = foreign/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "foreign/readline-complete.el"]
	path = foreign/readline-complete.el
	url = https://github.com/monsanto/readline-complete.el.git
[submodule "foreign/org-mode"]
	path = foreign/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "foreign/cedet"]
	path = foreign/cedet
	url = https://github.com/emacsmirror/cedet.git
[submodule "foreign/yasnippet"]
	path = foreign/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "foreign/gnus"]
	path = foreign/gnus
	url = http://git.gnus.org/gnus.git
[submodule "external/mo-git-blame"]
	path = external/mo-git-blame
	url = https://github.com/mbunkus/mo-git-blame.git
[submodule "foreign/clang-complete-async"]
	path = foreign/clang-complete-async
	url = https://github.com/terranpro/emacs-clang-complete-async.git
[submodule "foreign/wgrep"]
	path = foreign/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "foreign/emacs-powerline"]
	path = foreign/emacs-powerline
	url = https://github.com/jonathanchu/emacs-powerline.git
[submodule "foreign/expand-region"]
	path = foreign/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "foreign/multiple-cursors"]
	path = foreign/multiple-cursors
	url = https://github.com/emacsmirror/multiple-cursors
[submodule "foreign/ecb"]
	path = foreign/ecb
	url = https://github.com/emacsmirror/ecb.git

[submodule "foreign/powerline"]
	path = foreign/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "foreign/dtrt-indent"]
	path = foreign/dtrt-indent
	url = https://github.com/jscheid/dtrt-indent.git
